<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
        <%= render 'about' %>
        <%= render 'archives' %>
        <%= render 'elsewhere' %>
        </div>
    </div>
</div>